{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environmentName": {
      "value": "${WORKSPACE}"
    },
    "location": {
      "value": "${LOCATION}"
    },
    "cuaEnabled": {
      "value": ${ENABLE_CUSTOMER_USAGE_ATTRIBUTION}
    },
    "cuaId": {
      "value": "${CUSTOMER_USAGE_ATTRIBUTION_ID}"
    },
    "principalId": {
      "value": "${SINGED_IN_USER_PRINCIPAL}"
    },
    "randomString": {
      "value": "${RANDOM_STRING}"
    },
    "azureOpenAIServiceName": {
      "value": "${AZURE_OPENAI_SERVICE_NAME}"
    },
    "azureOpenAIResourceGroup": {
      "value": "${AZURE_OPENAI_RESOURCE_GROUP}"
    },
    "azureOpenAIServiceKey": {
      "value": "${AZURE_OPENAI_SERVICE_KEY}"
    },
    "openAiSkuName": {
      "value": "S0"
    },
    "chatGptDeploymentName": {
      "value": "${CHATGPT_MODEL_DEPLOYMENT_NAME}"
    },
    "azureOpenAIEmbeddingsModelName": {
      "value": "${AZURE_OPENAI_EMBEDDING_MODEL}"
    },
    "useAzureOpenAIEmbeddings": {
      "value": ${USE_AZURE_OPENAI_EMBEDDINGS}
    },
    "sentenceTransformersModelName": {
      "value": "${SENTENCE_TRANSFORMER_EMBEDDING_MODEL}"
    },
    "sentenceTransformerEmbeddingVectorSize": {
      "value": "${SENTENCE_TRANSFORMER_EMBEDDING_MODEL_VECTOR_SIZE}"
    },
    "chatGptModelName": {
      "value": "${CHATGPT_MODEL_MODEL_NAME}"
    },
    "chatGptModelVersion": {
      "value": "${CHATGPT_MODEL_VERSION}"
    },
    "chatGptDeploymentCapacity": {
      "value": ${CHATGPT_MODEL_CAPACITY}
    },
    "chatWarningBannerText": {
       "value": "${CHAT_WARNING_BANNER_TEXT}"
    },
    "enableRagBypass": {
       "value": "${ENABLE_RAG_BYPASS}"
    },
    "useExistingAOAIService": {
      "value": ${USE_EXISTING_AOAI}
    },
    "searchServicesSkuName": {
      "value": "standard"
    },
    "buildNumber": {
      "value": "${BUILD_NUMBER}"
    },
    "aadWebClientId": {
      "value": "${AZURE_AD_WEB_APP_CLIENT_ID}"
    },
    "aadMgmtClientId": {
      "value": "${AZURE_AD_MGMT_APP_CLIENT_ID}"
    },
    "aadMgmtServicePrincipalId": {
      "value": "${AZURE_AD_MGMT_SP_ID}"
    },
    "aadMgmtClientSecret": {
      "value": "${AZURE_AD_MGMT_APP_SECRET}"
    },
    "isInAutomation": {
      "value": ${IS_IN_AUTOMATION}
    },
    "queryTermLanguage": {
      "value": "${QUERYTERM_LANGUAGE}"
    },
    "targetTranslationLanguage": {
      "value": "${TARGET_TRANSLATION_LANGUAGE}"
    },
    "enableDevCode": {
      "value": ${ENABLE_DEV_CODE}
    },
    "tenantId": {
      "value": "${TENANT_ID}"
    },
    "subscriptionId": {
      "value": "${SUBSCRIPTION_ID}"
    },
    "applicationtitle": {
      "value": "${APPLICATION_TITLE}"
    }
  }
}
