.container {
    cursor: pointer;
}

.disabled {
    opacity: 0.4;
}

.buttonleft {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 4px 0;
    padding: 6px 20px;
    border: none;
    -webkit-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
    color: rgba(2,2,2,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #dbdbdb;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(186,187,188,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .buttonleftactive {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0199d9;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .buttonleft:active {
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    color: rgba(255,255,255,0.9);
    background: #0199d9;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  }

  .buttonright {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 4px 0;
    padding: 6px 20px;
    border: none;
    -webkit-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    color: rgba(2,2,2,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #dbdbdb;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(186,187,188,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .buttonrightactive {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0199d9;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .buttonright:active {
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    color: rgba(255,255,255,0.9);
    background: #0199d9;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  }

  .buttonmiddle {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 4px 0;
    padding: 6px 20px;
    border: none;
    color: rgba(2,2,2,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #dbdbdb;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(186,187,188,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .buttonmiddleactive {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0199d9;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .buttonmiddle:active {
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    color: rgba(255,255,255,0.9);
    background: #0199d9;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  }