# Region to deploy into when running locally.
# This is set by the Azure Pipeline for other environments.
export LOCATION="westeurope"
export WORKSPACE="myworkspace"
export SUBSCRIPTION_ID=""
export TENANT_ID=""
export IS_USGOV_DEPLOYMENT=false

# Use this setting to determine whether a user needs to be granted explicit access to the website via an
# Azure AD Enterprise Application membership (true) or allow the website to be available to anyone in the Azure tenant (false). Defaults to false.
# If set to true, A tenant level administrator will be required to grant the implicit grant workflow for the Azure AD App Registration manually.
export REQUIRE_WEBSITE_SECURITY_MEMBERSHIP=false

# Uncomment this if you want to avoid the "are you sure?" prompt when applying TF changes
# export SKIP_PLAN_CHECK=1

# If using an existing deployment of Azure OpenAI, set the USE_EXISTING_AOAI to true and fill in the following values
export USE_EXISTING_AOAI=false
export AZURE_OPENAI_RESOURCE_GROUP=""
export AZURE_OPENAI_SERVICE_NAME=""
export AZURE_OPENAI_SERVICE_KEY=""
export AZURE_OPENAI_CHATGPT_DEPLOYMENT=""

# To use Azure OpenAI Embeddings, set the following to true and fill in the value
# for AZURE_OPENAI_EMBEDDING_MODEL. You can also choose to use Sentence Transformer Embeddings by setting
# USE_AZURE_OPENAI_EMBEDDINGS to false and setting the value for SENTENCE_TRANSFORMER_EMBEDDING_MODEL
# and SENTENCE_TRANSFORMER_EMBEDDING_MODEL_VECTOR_SIZE. Some examples are:
# sentence-transformers/all-mpnet-base-v2                       768
# sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2   384
# BAAI/bge-small-en-v1.5                                        384
export USE_AZURE_OPENAI_EMBEDDINGS=false
export AZURE_OPENAI_EMBEDDING_MODEL="text-embedding-ada-002"
export SENTENCE_TRANSFORMER_EMBEDDING_MODEL="BAAI/bge-small-en-v1.5"
export SENTENCE_TRANSFORMER_EMBEDDING_MODEL_VECTOR_SIZE="384"

# If you are doing a deployment where any of the following are true...
# 1. Azure OpenAI models are limited in your region
# 2. Azure OpenAI is not in the same Subscription as your current target subscription
# 3. You are deploying to USGov with Azure OpenAI in Azure Commercial
# ...then you will need to set the following values to the Azure OpenAI model you want to use. 
export AZURE_OPENAI_CHATGPT_MODEL_NAME=""
export AZURE_OPENAI_CHATGPT_MODEL_VERSION=""
# If you have limited capacity in your subscription, you can set the following to limit the deployment capacity.
export AZURE_OPENAI_CHATGPT_MODEL_CAPACITY="240"

# If your deployment requires a warning banner and footer, please set this variable.
CHAT_WARNING_BANNER_TEXT=""

# A pointer to a supported language ENV file located in the ./languages folder.
export DEFAULT_LANGUAGE="en-US"

# If you are deploying this for a customer, you can optionally set the following values to track usage of the accelerator.
# This uses the pattern of Customer Usage Attribution, more info can be found at https://learn.microsoft.com/en-us/partner-center/marketplace/azure-partner-customer-usage-attribution 
export ENABLE_CUSTOMER_USAGE_ATTRIBUTION=true
export CUSTOMER_USAGE_ATTRIBUTION_ID="7a01ff74-15c2-4fec-9f14-63db7d3d6131"

# Enable capabilities under development. This should be set to false
export ENABLE_DEV_CODE=false

# Branding
# Leave application title blank for the default name
export APPLICATION_TITLE=""